
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

/* NAVIGATION */

nav {
    font-family: sans-serif;

    margin-top: 2em;
    text-align: end;
}

nav ul {
    list-style: none;
    text-align: center;
    line-height: 150%;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    navbutton_background_color: #eeaa00;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #eeaa00;
}

.active {
    color: #eeaa00;
}
.navlogo {
    width: 150px;
    margin-top: 2em;
}

body {
    background-color: black;
    margin-left: 10em;
    margin-right: 10em;
}

main {
    margin-bottom: 5em;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.webseitelink {
    color: white;
    text-decoration: none;
}

.webseitelink:hover {
    color: #eeaa00;
}

.webseitelink,
.webseitelink:after,
.webseitelink:before {
    transition: all .5s;
}

.noeasylink {
    color: #eeaa00;
    text-decoration: none;
}

.noeasylink:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.noeasylink,
.noeasylink:after,
.noeasylink:before {
    transition: all .5s;
}

/* ---------- TEXTFORMATIERUNG ---------- */

p {
    color: white;
    font-family: sans-serif;
}

.text {
    line-height: 150%;
}

.blauertext {
    color: #eeaa00;
}

.sitetitle {
    font-size: 3em;
    font-weight: 800;
    color: #eeaa00;
}

.tiersname {
    font-weight: 800;
    font-size: 1.5em;
}



/* ---------- BILDFORMATIERUNG ---------- */

img {
    width: 20%;
}

.dominodiv {
    display: flex;
    flex-direction: row;
}

/* ---------- LAYOUT ---------- */

/* INDEXSEITE */

.mainindex {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.indexbilddiv {
    width: 638%;
}

/* MEMBERS */

.tier {
    display: flex;
    justify-items: flex-start;
    margin-bottom: 100px;
}

.tiersphoto {
    width: 1500px;
}

.tierdetails {
    margin-left: -1100px;
}


/* BUTTON */

.button {
    background-color: #eeaa00;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover,
.button:focus {
    background-color: #eeaa00;
}

.buttonlink {
    color: white;
    text-decoration: none;
}

/* BAND */

.bandmain {
    display: flex;
    align-items: flex-start;
}

.biene {
    width: 55%;
}

.bandmaintext {
    margin-right: 5%;
}

/* INDEXSEITE */

.indexbild {
    width: 115%;
}

.indexnavbild {
    width: 71%;
    margin-left: 12em;
    margin-bottom: 6px;
    transition: 0.4s ease;
    transform-origin: 50% 50%;
}

.indexnavbild:hover {
    transform: scale(1.05);
    width: 73%;
}


/* GALLERY */

.images {
    width: 375px;
    padding: 20px;
    transition: 0.7s all ease-in-out
}

.images:hover {
    transform: scale(1.1);
}

.gallerydiv {
    margin-left: -30px;
}

/* ABOUT US */

.disclaimer {
    font-weight: bold;
    font-size: 1.2em;
}

.contactlink{
    text-decoration: none;
    margin-bottom: -3px;
}

.aboutusdiv {
    display: flex;
    justify-content: space-between;
}

.webseitentext {
    line-height: 150%;
    margin-right: 20%;
    margin-bottom: 70px;
}

.author {
    width: 75%;
    margin-top: -30px;
}

.authorsnotes {
    font-weight: 800;
    font-size: 2em;
    color: #eeaa00;
}

div.card{
    width: 18rem !important;
    height: 13rem !important;
}

.authorsname {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: -5px;
}